azure-data-tables
azure-functions
azure-functions-durable
azure-storage-blob
base58
frozendict
geojson
inflect
itsdangerous
marshmallow
marshmallow-jsonapi
marshmallow-sqlalchemy
msal
pandas
py-abac
pyjwt
pymssql
pyproj
python-magic
python-magic-bin
querystring-parser
shapely
simplejson
smart-open
sqlalchemy
traitlets>=5.5.0
werkzeug