azure-data-tables
azure-functions
azure-functions-durable
azure-storage-blob
base58
frozendict
GeoAlchemy2
geojson
inflect
itsdangerous
marshmallow
marshmallow-geojson
marshmallow-jsonapi
marshmallow-sqlalchemy
msal
pandas>=2.0.0
py-abac
pyjwt
pymssql
pyproj
python-magic
python-magic-bin
querystring-parser
shapely
simplejson
smart-open
sqlalchemy
traitlets>=5.5.0
werkzeug

# optional
sql-formatter