# azure
azure-data-tables
azure-functions
azure-functions-durable
azure-storage-blob

# required
frozendict
itsdangerous
marshmallow
marshmallow-jsonapi
marshmallow-sqlalchemy
pandas>=2.0.0
py-abac
# pyjwt
pymssql
# python-magic
# python-magic-bin
querystring-parser
smart-open
sqlalchemy
# traitlets>=5.5.0
werkzeug

# optional
## formatting
simplejson
sql-formatter
## geometry/geography
geoalchemy2 @ git+https://github.com/Esquire-Media/geoalchemy2
geojson
marshmallow-geojson
pyproj
shapely