# azure
azure-data-tables
azure-functions>=1.14.0
azure-functions-durable>=1.2.3 # Blueprints Required
azure-storage-blob

# required
frozendict
itsdangerous
marshmallow
marshmallow-jsonapi
marshmallow-sqlalchemy>=0.29.0
pandas>=2.0.0
py-abac
querystring-parser
smart-open
sqlalchemy>=2.0.0
werkzeug

# optional
## database connectors
pymssql
## formatting
simplejson
sql-formatter
## geometry/geography
geoalchemy2 @ git+https://github.com/Esquire-Media/geoalchemy2
geojson
marshmallow-geojson
pyproj
shapely
## onspot
requests-auth-aws-sigv4